.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.white-space-nowrap {
    white-space: nowrap;
}

.height-100 {
    height: 100%;
}

.wrapper__table__excel {
    max-width: 1920px;
    overflow-x: auto!important;
    overflow-y: hidden!important;
    position: relative;
}

/* .table__excel {
    position: absolute;
    z-index: 1;
    width: max-content;
}

.table__excel--fix-col {
    position: absolute;
    text-align: center;
    width: max-content;
    background-color: white
} */

/* .form-select__excel {
    width: 600px;
} */